<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>terrain_section_count</key>
	<integer>12</integer>
	<key>terrain_height_map</key>
	<array>
		<integer>0</integer>
		<integer>30</integer>
		<integer>30</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>40</integer>
		<integer>40</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>30</integer>
		<integer>30</integer>
		<integer>30</integer>
	</array>
	<key>hollow_indexes</key>
	<array>
		<dict>
			<key>index_left</key>
			<integer>2</integer>
			<key>index_right</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>index_left</key>
			<integer>6</integer>
			<key>index_right</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>enemy_count</key>
	<integer>37</integer>
	<key>infantry_count</key>
	<integer>25</integer>
	<key>cavalry_count</key>
	<integer>12</integer>
	<key>tree_collection</key>
	<array>
		<array>
			<integer>220</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>420</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>infantry_trigger</key>
	<dict>
		<key>first_time</key>
		<integer>1</integer>
		<key>interval</key>
		<integer>2</integer>
		<key>random</key>
		<true/>
		<key>period_sequence</key>
		<integer>0</integer>
		<key>period_length</key>
		<integer>0</integer>
	</dict>
	<key>cavalry_trigger</key>
	<dict>
		<key>first_time</key>
		<integer>3</integer>
		<key>interval</key>
		<integer>2</integer>
		<key>random</key>
		<false/>
		<key>period_sequence</key>
		<integer>3</integer>
		<key>period_length</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
