<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>horse_walk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {31, 32}}</string>
			<key>offset</key>
			<string>{0.5, -0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {31, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>horse_walk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{33, 1}, {31, 32}}</string>
			<key>offset</key>
			<string>{0.5, -0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {31, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>horse_walk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 1}, {31, 31}}</string>
			<key>offset</key>
			<string>{0.5, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {31, 31}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>horse_walk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{97, 1}, {31, 32}}</string>
			<key>offset</key>
			<string>{0.5, -0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {31, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{128, 64}</string>
	</dict>
</dict>
</plist>
