<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tree_swing_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {37, 63}}</string>
			<key>offset</key>
			<string>{-1.5, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{12, 1}, {37, 63}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>tree_swing_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 1}, {38, 63}}</string>
			<key>offset</key>
			<string>{-2, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{11, 1}, {38, 63}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>tree_swing_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 1}, {38, 63}}</string>
			<key>offset</key>
			<string>{-4, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{9, 1}, {38, 63}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>tree_swing_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 1}, {38, 63}}</string>
			<key>offset</key>
			<string>{-2, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{11, 1}, {38, 63}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{256, 64}</string>
	</dict>
</dict>
</plist>
